#fromMediah3 {
  color: black;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#jerusalemMediaImg {
  width: auto;
  height: 50%;
  background-size: contain;
  object-fit: cover;
}

/* #mediaCardBody {
  height: 100px;
  width: 100px;
} */
