#addReviweTitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #rateReview {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 20px;
  }